<%= form_with(model: commercial_unit, local: true) do |form| %>
  <% if commercial_unit.errors.any? %>
    <div>
      <h2><%= pluralize(commercial_unit.errors.count, "error") %> prohibited this commercial_unit from being saved:</h2>

      <ul>
      <% commercial_unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :owner %>
    <%= form.email_field :owner, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :shops %>
    <%= form.number_field :shops, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :parking %>
    <%= form.number_field :parking, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.text_field :price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.text_field :image, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
