<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "Housing", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <%= link_to "Houses", houses_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to "ComplexBuildings", complex_buildings_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to "CommercialUnits", commercial_units_path, class: 'nav-link' %>
            </li>
        </ul>

        <ul class="navbar-nav navbar-right">
            <% if user_signed_in? %>
                <%= link_to "SignOut", destroy_user_session_path, method: :delete, class: 'nav-link' %>
                <% if current_user.manager %>
                    <%= link_to "AddNewHouse", new_house_path, class: 'nav-link' %>
                    <%= link_to "AddComplexBuilding", new_complex_building_path, class: 'nav-link' %>
                    <%= link_to "AddCommercialUnit", new_commercial_unit_path, class: 'nav-link' %>
                <% end %>
            <% else %>
                <%= link_to "SignIn", new_user_session_path, class: 'nav-link' %>
                <%= link_to "SignUp", new_user_registration_path, class: 'nav-link' %>
            <% end %>
        </ul>
    </div>
</nav>